**/_dev_*
**/_temp_*
single_area/results_supplfig6/condition_space_newpp/*
single_area/results_supplfig6/selectivity_space/deltaR2thres-inf/*
single_area/results_supplfig6/selectivity_space/vary_deltaR2/*
single_area/results_supplfig6/selectivity_space/vary_mfr/*
**/__pycache__/*
single_area/Suppl_Fig4a.py
single_area/Suppl_Fig4b.py
multi_area/Suppl_Fig7efg.py
multi_area/results_supplfig7efg/*
multi_area/results_fig3f/all/*
multi_area/results_fig3f/random50/*
multi_area/results_fig3f/random100/*